$font-primary: "Bellefair", serif;
$font-secondary: "Barlow Condensed", sans-serif;
$font-tertiary: "Barlow", sans-serif;

$color-white: #fff;
$color-text-light: #d0d6f9;
$color-text-dark: #0b0d17;
$color-secondary-dark: #383b4b;
