@import "variables";

.main {
  width: 100%;
  min-height: 71rem;
  background: linear-gradient(
      to top,
      rgba($color-text-dark, 0.25),
      rgba($color-text-dark, 0.25)
    ),
    url("../assets/crew/background-crew-mobile.jpg") center / cover no-repeat;
  text-align: center;
  padding-top: 8.8rem;
}

.pick {
  display: inline-block;
  font-size: 1.6rem;
  font-family: $font-secondary;
  font-weight: 400;
  text-transform: uppercase;
  color: $color-white;
  line-height: 1.9rem;
  letter-spacing: 2.7px;
  margin-bottom: 3.2rem;
}

.number {
  display: inline-block;
  margin-right: 1.8rem;
  font-weight: 700;
  opacity: 0.25;
}

.container {
  width: 87.2%;
  max-width: 45.8rem;
  margin: 0 auto;
  // padding: 8.8rem 0 0;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.imgContainer {
  text-align: center;
  width: 100%;
  height: 22.3rem;
  border-bottom: 1px solid $color-secondary-dark;
}

.imgContainer img {
  height: 100%;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.items {
  list-style-type: none;
  // margin: 0 auto 3.2rem;
  display: flex;
  justify-content: center;
  gap: 1.6rem;
}

.item {
  width: 1rem;
  height: 1rem;
  background: $color-white;
  opacity: 0.17;
  border-radius: 100px;
  transition: all 0.2s ease-in;
}

.item:hover {
  opacity: 0.5;
}

.item a {
  display: block;
  width: 100%;
  height: 100%;
}

.active {
  opacity: 1;
}

.details {
  width: 100%;
  text-align: center;
}

.role {
  font-family: $font-primary;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.8rem;
  color: $color-white;
  opacity: 0.5;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0.8rem;
}

.name {
  font-family: $font-primary;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 2.8rem;
  color: $color-white;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
}

.bio {
  font-size: 1.5rem;
  line-height: 2.5rem;
  text-align: center;
  color: $color-text-light;
}

@media screen and (min-width: 768px) {
  .main {
    padding-top: 13.6rem;
    text-align: left;
    height: 102.4rem;
    // overflow: hidden;
    background: linear-gradient(
        to top,
        rgba($color-text-dark, 0.25),
        rgba($color-text-dark, 0.25)
      ),
      url("../assets/crew/background-crew-tablet.jpg") center / cover no-repeat;
  }

  .pick {
    margin-left: 3.85rem;
    font-size: 2rem;
    line-height: 2.4rem;
    letter-spacing: 3.375px;
    margin-bottom: 6rem;
  }

  .container {
    flex-direction: column-reverse;
    align-items: center;
    gap: 4rem;
  }

  .imgContainer {
    display: inline-block;
    border-bottom: none;
    // min-height: 53.2rem;
    height: 57.2rem;
    width: auto;
    text-align: center;
  }

  .imgContainer img {
    height: 93%;
  }

  .content {
    flex-direction: column-reverse;
    gap: 4rem;
  }

  .role {
    font-size: 2.4rem;
    line-height: 2.8rem;
  }

  .name {
    font-size: 4rem;
    line-height: 4.6rem;
  }

  .bio {
    font-size: 1.6rem;
    line-height: 2.8rem;
  }
}
