@import "variables";

.main {
  width: 100%;
  // max-height: 85rem;
  background: url("../assets/destination/background-destination-mobile.jpg")
    center / cover no-repeat;
  padding: 8.8rem 0 5.8rem;
}

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.6rem;
}

.header {
  width: 94.99%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.pick {
  display: inline-block;
  font-size: 1.6rem;
  font-family: $font-secondary;
  font-weight: 400;
  text-transform: uppercase;
  color: $color-white;
  line-height: 1.9rem;
  letter-spacing: 2.7px;
}

.number {
  display: inline-block;
  margin-right: 1.8rem;
  font-weight: 700;
  opacity: 0.25;
}

.imgContainer {
  // display: inline-block;
  margin: 0 auto;
  width: 17rem;
  height: 17rem;
  position: relative;
}

.content {
  text-align: center;
  width: 87.2%;
  max-width: 45rem;
}

.items {
  width: 24rem;
  margin: 0 auto 2rem;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.item {
  display: inline-block;
  color: $color-white;
  font-size: 1.4rem;
  font-family: $font-secondary;
  text-transform: uppercase;
  letter-spacing: 2.3625px;
  line-height: 1.7rem;
  padding-bottom: 0.8rem;
  transition: all 0.2s ease-in;
}

.item:hover {
  border-bottom: 3px solid rgba($color-white, 0.5);
}

.active {
  border-bottom: 3px solid $color-white;
}

.title {
  display: inline-block;
  font-family: $font-primary;
  text-transform: uppercase;
  font-size: 5.6rem;
  line-height: 6.4rem;
  color: $color-white;
  text-align: center;
}

.text {
  font-size: 1.5rem;
  line-height: 2.5rem;
  text-align: center;
  color: $color-text-light;
}

.divider {
  margin: 3.2rem 0;
  width: 100%;
  height: 1px;
  background: $color-secondary-dark;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.2rem;
}

.distance,
.travel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 6.1rem;
}

.distance {
  width: 21.6rem;
}

.travel {
  width: 22.3rem;
}

.description {
  font-family: $font-secondary;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.7rem;
  text-align: center;
  text-transform: uppercase;
  color: $color-text-light;
  letter-spacing: 2.3625px;
}

.value {
  font-family: $font-primary;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 3.2rem;
  text-align: center;
  text-transform: uppercase;
  color: $color-white;
}

@media screen and (min-width: 768px) {
  .main {
    padding: 13.6rem 0 6.2rem;
    background: url("../assets/destination/background-destination-tablet.jpg")
      center / cover no-repeat;
  }

  .container {
    gap: 5.3rem;
  }

  .header {
    gap: 6rem;
    text-align: left;
  }

  .pick {
    font-size: 2rem;
    line-height: 2.4rem;
    letter-spacing: 3.375px;
  }

  .number {
    margin-right: 1.9rem;
  }

  .imgContainer {
    width: 30rem;
    height: 30rem;
    position: relative;
  }

  .content {
    width: 57.3rem;
    max-width: 57.3rem;
  }

  .items {
    width: 28.55rem;
    margin: 0 auto 3.2rem;
  }

  .item {
    font-size: 1.6rem;
    line-height: 1.9rem;
    letter-spacing: 2.7px;
    padding-bottom: 1.2rem;
  }

  .title {
    font-size: 8rem;
    line-height: 9.2rem;
    margin-bottom: 0.8rem;
  }

  .text {
    font-size: 1.6rem;
    line-height: 2.8rem;
  }

  .divider {
    margin: 4.9rem 0 2.8rem;
  }

  .details {
    flex-direction: row;
    justify-content: center;
    gap: 1.1rem;
  }
}
