@import "variables";

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  position: relative;
  box-sizing: border-box;
  font-family: $font-tertiary;
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
}

.btn {
  border: none;
  background-color: transparent;

  &:hover {
    cursor: pointer;
  }
}
