@import "variables";

.main {
  width: 100%;
  min-height: 66.7rem;
  background: url("../assets/home/background-home-mobile.jpg") center / cover
    no-repeat;
  padding: 11.2rem 0 4.8rem;
}

.container {
  width: 87.2%;
  max-width: 45rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8.1rem;
}

.content {
  width: 100%;
}

.title {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  text-align: center;
  margin-bottom: 1.6rem;
}

.top {
  display: inline-block;
  font-family: $font-secondary;
  font-size: 1.6rem;
  line-height: 19px;
  color: $color-text-light;
  letter-spacing: 2.7px;
  text-transform: uppercase;
  text-align: center;
}

.bottom {
  display: block;
  color: $color-white;
  font-family: $font-primary;
  font-size: 8rem;
  font-weight: 400;
  text-align: center;
  line-height: 10rem;
  text-transform: uppercase;
}

.text {
  font-size: 1.5rem;
  line-height: 2.5rem;
  text-align: center;
  color: $color-text-light;
}

.explore {
  width: 15rem;
  height: 15rem;
  border-radius: 100%;
  background-color: $color-white;
  color: $color-text-dark;
  font-family: $font-primary;
  font-weight: 400;
  font-size: 2rem;
  letter-spacing: 1.25px;
  line-height: 2.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  position: relative;
}

.explore::before {
  content: "";
  width: 150%;
  height: 150%;
  border-radius: 100%;
  background-color: rgba($color-white, 0.1);
  position: absolute;
  top: -100%;
  left: -100%;
  transform: translate(50%, 50%);
  transition: all 0.3s ease-in;
  opacity: 0;
}

.explore:hover::before {
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .main {
    padding: 20.2rem 0 9rem;
    background: url("../assets/home/background-home-tablet.jpg") center / cover
      no-repeat;
  }

  .container {
    width: 45rem;
    gap: 15.6rem;
  }

  .title {
    gap: 2.4rem;
    margin-bottom: 2.4rem;
  }

  .top {
    font-size: 2rem;
    line-height: 2.4rem;
    letter-spacing: 3.375px;
  }

  .bottom {
    font-size: 15rem;
    line-height: 15rem;
  }

  .text {
    font-size: 1.6rem;
    line-height: 2.8rem;
  }

  .explore {
    width: 24.2rem;
    height: 24.2rem;
    font-size: 3.2rem;
    line-height: 3.7rem;
    letter-spacing: 2px;
  }
}

@media screen and (min-width: 1440px) {
  .main {
    height: 90rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    // align-items: center;
    padding-bottom: 13.1rem;
    background: url("../assets/home/background-home-desktop.jpg") center / cover
      no-repeat;
  }

  .container {
    padding: 0 16.5rem;
    width: 100%;
    max-width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }

  .content {
    width: 45rem;
  }

  .title {
    text-align: left;
  }

  .top,
  .bottom,
  .text {
    text-align: left;
  }

  .top {
    font-size: 2.8rem;
    line-height: 3.4rem;
    letter-spacing: 4.725px;
  }

  .bottom {
    line-height: 17.2rem;
  }

  .text {
    font-size: 1.8rem;
    line-height: 3.2rem;
  }

  .explore {
    width: 27.4rem;
    height: 27.4rem;
  }
}
