.header {
  height: 8.8rem;
  left: 2.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  right: 0;
  top: 0;
}

.logoBox {
  // margin-left: 2.4rem;
  display: block;
  width: 4rem;
  height: 4rem;
}

.logoBox:hover {
  cursor: pointer;
}

.navBtn {
  display: block;
  margin-right: 2.4rem;
  height: 2.1rem;
  width: 2.4rem;
}

@media screen and (min-width: 768px) {
  .header {
    left: 3.9rem;
    height: 9.6rem;
  }

  .logoBox {
    width: 4.8rem;
    height: 4.8rem;
  }

  .navBtn {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .header {
    top: 4rem;
    left: 5.5rem;
  }
}
